@model AuthorDetailsViewModel
@{
    ViewBag.Title = "Author Details";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-100 mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <img class="d-block w-100" style="max-width: 200px; height: auto;" src="~/@Model.ImagePathUrl" alt="AuthorCover-img">
                </div>
                <div class="col-md-8">
                    <h3 class="card-title text-center">@Model.FirstName @Model.LastName</h3>
                    <p class="mb-0"><span class="fw-bold">Biography: </span>@Model.Biography</p>
                    <p class="mb-0"><span class="fw-bold">Birht date: </span>@Model.BirthDate</p>
                    <p class="mb-0"><span class="fw-bold">Death date: </span>@Model.DeathDate</p>
                    <p class="mb-0"><span class="fw-bold">Nationality: </span>@Model.Nationality</p>
                </div>
            </div>
        </div>
    </div>

    <h2>Author Books:</h2>
    @if (Model.Books.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center; vertical-align: middle;">Title</th>
                    <th style="text-align: center; vertical-align: middle;">Year Published</th>
                    <th style="text-align: center; vertical-align: middle;">Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td><img class="d-block w-200" style="max-width: 150px; height: auto;" src="~/@book.CoverImagePathUrl" alt="Author-img"></td>
                        <td style="min-width: 200px;">@book.Title</td>
                        <td style="text-align: center; vertical-align: middle;">@book.YearPublished</td>
                        <td>@book.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No books found for this author.</p>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
