@using LibraryManagementSystem.Services.Data.Interfaces
@using LibraryManagementSystem.Web.Infrastructure.Extensions
@using static LibraryManagementSystem.Common.UserRoleNames;
@model MyBooksViewModel

@inject ILendedBooksService LendedBooksService

@{
    bool isBookReturned = await LendedBooksService.IsBookReturnedAsync(User.GetId()!.ToString(), Model.Id);
}

@* PopUp window (Modal) *@
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">Succeesfully returned the book!</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3><strong>Would you like to rate the Book :)</strong></h3>
                <br />
                <p>You can provide feedback by giving a rating and comment for the Book you are returning?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="confirmNoBtn" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="confirmYesBtn">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card mb-3 pt-3">
        <div class="d-flex justify-content-center align-items-center">
            <img class="d-block" style="max-width: 200px; height: auto;" src="~/@Model.ImageFilePath" alt="BookCover-img">
        </div>
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Author: <b>@Model.AuthorName</b></h6>
            <h6>Category: <b>@Model.Category</b></h6>
            <br />
            <div class="d-flex justify-content-center">
                <a asp-area="" asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
                @if (this.User.IsInRole(UserRole) && isBookReturned)
                {
                    @* User has this BOOK in collection and can return it and if he confirm the popup can rate the BOOK!*@
                    <form id="returnForm" class="ml-2" style="margin-left: 20px;">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <button type="button" class="btn btn-warning returnBookBtn" data-book-id="@Model.Id">Return Book</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

<script>
    @* Script for Returning Book with AJAX *@
    $(document).ready(function () {
        // Get Verification Token
        var token = $('input[name="__RequestVerificationToken"]').val();

        // Handle the click event of the "Return Book" button
        $(document).on('click', '.returnBookBtn', function () {
            // Get the bookId from the data attribute
            var bookId = $(this).data('book-id');

            // Show the confirmation modal
            $('#confirmationModal').modal('show');

            // Store the bookId in a data attribute of the modal
            $('#confirmationModal').data('book-id', bookId);
        });

        // Handle the click event of the "YES" button in the confirmation modal
        $(document).on('click', '#confirmYesBtn', function () {
            var bookId = $('#confirmationModal').data('book-id');

            // Perform a POST request to the "Return" action in the "LendedBooks" controller
            $.ajax({
                url: '@Url.Action("ReturnBook", "LendedBooks")' + '?id=' + bookId,
                type: 'POST',
                headers: {
                    RequestVerificationToken: token
                },
                data: { id: bookId },
                success: function (response) {
                    console.log('Book returned successfully');

                    // Redirect to RatingController/Give action with the ID included
                    $.ajax({
                        url: '@Url.Action("Give", "Rating")' + '?id=' + bookId,
                        type: 'GET',
                        success: function (response) {
                            console.log('Rating action performed successfully');

                            // Redirect to RatingController/Give action with the ID included after both actions are completed
                            window.location.href = '@Url.Action("Give", "Rating")' + '?id=' + bookId;
                        },
                        error: function (xhr, status, error) {
                            console.error('Error performing Rating action:', error);
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error returning book:', error);
                }
            });
        });

        // Handle the click event of the "No" button in the confirmation modal
        $(document).on('click', '#confirmNoBtn', function () {
            var bookId = $('#confirmationModal').data('book-id');

            // Perform a POST request to the "Return" action in the "LendedBooks" controller
            $.ajax({
                url: '@Url.Action("ReturnBook", "LendedBooks")',
                type: 'POST',
                headers: {
                    RequestVerificationToken: token
                },
                data: { id: bookId },
                success: function (response) {
                    console.log('Book returned successfully');

                    // Redirect to LendedBooksController/Mine action
                    window.location.href = '@Url.Action("Mine", "LendedBooks")';
                },
                error: function (xhr, status, error) {
                    console.error('Error returning book:', error);

                    // Redirect to BookController/All action
                    window.location.href = '@Url.Action("All", "Book")';
                }
            });
        });

        // Handle the modal close event
        $('#confirmationModal').on('hidden.bs.modal', function () {
            var bookId = $(this).data('book-id');

            // Perform a POST request to the "Return" action in the "LendedBooks" controller
            $.ajax({
                url: '@Url.Action("ReturnBook", "LendedBooks")',
                type: 'POST',
                headers: {
                    RequestVerificationToken: token
                },
                data: { id: bookId },
                success: function (response) {
                    console.log('Book returned successfully');

                    // Redirect to LendedBooksController/Mine action
                    window.location.href = '@Url.Action("Mine", "LendedBooks")';
                },
                error: function (xhr, status, error) {
                    console.error('Error returning book:', error);

                    // Redirect to BookController/All action
                    window.location.href = '@Url.Action("All", "Book")';
                }
            });
        });
    });
</script>
