@using static LibraryManagementSystem.Common.GeneralApplicationConstants;

@model BookFormModel

@{
    ViewData["Title"] = "Add Book";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        .datepicker-dropdown {
            border-radius: 0 !important;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

            .datepicker-dropdown table {
                width: 100%;
            }

                .datepicker-dropdown table thead tr:first-child th {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                }

                .datepicker-dropdown table td, .datepicker-dropdown table th {
                    text-align: center;
                }

                    .datepicker-dropdown table td.day:hover {
                        background-color: #f2f2f2;
                    }

                    .datepicker-dropdown table td.active, .datepicker-dropdown table td.active:hover {
                        background-color: #007bff;
                        color: #fff;
                    }
    </style>
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div class="container">
        <h1>Add Book</h1>

        <form method="post" enctype="multipart/form-data">
            <div class="form-group col-md-10">
                <div class="form-group mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="" />
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ISBN"></label>
                    <input asp-for="ISBN" class="form-control" placeholder="111-11-111-1111-1" />
                    <span asp-validation-for="ISBN" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="YearPublished"></label>
                    <input asp-for="YearPublished" class="form-control" id="yearPublished" placeholder="dd.mm.yyyy" />
                    <span asp-validation-for="YearPublished" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder=""></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Publisher"></label>
                    <input asp-for="Publisher" class="form-control" placeholder="" />
                    <span asp-validation-for="Publisher" class="small text-danger"></span>
                </div>
                @* <div class="form-group mb-3">
                    <label asp-for="CoverImagePathUrl">Select Cover Image for Upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input asp-for="CoverImagePathUrl" type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <span asp-validation-for="CoverImagePathUrl" class="small text-danger"></span>
                </div> *@

                <div class="form-group mb-3">
                    <label asp-for="ImageFilePath" class="form-label">Select Cover Image for Upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <!-- Ensure that the name attribute matches the parameter name in the controller action -->
                            <input type="file" class="custom-file-input" id="customFile" name="bookImage"> 
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <span asp-validation-for="ImageFilePath" class="small text-danger"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="@Model.AuthorId" class="form-label-add-edit">Select Author</label>
                    <select asp-for="@Model.AuthorId" class="form-control" aria-required="true">
                        <option value="">-- Select author --</option>
                        @foreach (var author in Model.Authors)
                        {
                            <option value="@author.Id">@author.Name - @author.Nationality</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.AuthorId" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="@Model.CategoryId" class="form-label-add-edit">Select Category</label>
                    <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                        <option value="">-- Select category --</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <br />
        </form>
    </div>

    <div style="height: 80px;"></div>



    <script>
        $(document).ready(function () {
            var dateFormat = '@GlobalDateFormat';

            $('#yearPublished').datepicker({
                format: dateFormat,
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>

</body>
</html>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
