@using LibraryManagementSystem.Services.Data.Interfaces
@using LibraryManagementSystem.Web.Infrastructure.Extensions
@using static LibraryManagementSystem.Common.UserRoleNames;

@model BookDetailsViewModel
@{
    ViewBag.Title = "Book Details";
}

@inject ILendedBooksService lendedBooksService


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-100 mb-4" >
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <img class="d-block" style="max-width: 200px; height: auto;" src="~/@Model.CoverImagePathUrl" alt="BookCover-img">
                </div>
                <div class="col-md-8">
                    <h3 class="card-title text-center">Title: @Model.Title</h3>
                    <br />
                    <p class="mb-0"><span class="fw-bold">Author: </span>@Model.AuthorName</p>
                    <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
                    <p class="mb-0"><span class="fw-bold">Category: </span>@Model.CategoryName</p>
                    <p class="mb-0"><span class="fw-bold">Year published: </span>@Model.YearPublished</p>
                    <p class="mb-0"><span class="fw-bold">Publisher: </span>@Model.Publisher</p>
                    <p class="mb-0"><span class="fw-bold">ISBN: </span>@Model.ISBN</p>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    @if (this.User.IsInRole(UserRole) && !await lendedBooksService.IsBookActiveInUserCollectionAsync(User.GetId()!.ToString(), Model.Id))
                    {
                        <form asp-action="Get" asp-controller="LendedBooks" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="btn btn-success">Get Book</button>
                        </form>
                    }
                </div>

            </div>
        </div>
    </div>

    <h2>Book Editions:</h2>
    @if (Model.Editions.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Version</th>
                    <th style="text-align: center; vertical-align: middle;">Publisher</th>
                    <th style="text-align: center; vertical-align: middle;">Year of Edition</th>
                    <th style="text-align: center; vertical-align: middle;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var edition in Model.Editions)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">@edition.Version</td>
                        <td style="text-align: center; vertical-align: middle;">@edition.Publisher</td>
                        <td style="text-align: center; vertical-align: middle;">@edition.EditionYear</td>
                        <td style="text-align: center; vertical-align: middle; white-space: nowrap;">
                        @if (this.User.IsInRole(AdminRole))
                        {
                            <a href="@Url.Action("Edit", "Edition", new { id = edition.Id })" class="btn btn-warning">Edit</a>
                            <a href="@Url.Action("Delete", "Edition", new { id = edition.Id })" class="btn btn-danger">Delete</a>
                        }
                        else if (this.User.IsInRole(UserRole))
                        {
                            @* If User has this bokk he can download it !!!*@
                            <a href="@Url.Action("Download", "File", new { id = edition.Id })" class="btn btn-primary">Download</a>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No editions found for this book.</p>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
