@using static LibraryManagementSystem.Common.GeneralApplicationConstants;

@model BookFormModel

@{
    ViewData["Title"] = "Edit Book";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* Styles and links for Datepicker *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .datepicker-dropdown {
            border-radius: 0 !important;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

            .datepicker-dropdown table {
                width: 100%;
            }

                .datepicker-dropdown table thead tr:first-child th {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                }

                .datepicker-dropdown table td, .datepicker-dropdown table th {
                    text-align: center;
                }

                    .datepicker-dropdown table td.day:hover {
                        background-color: #f2f2f2;
                    }

                    .datepicker-dropdown table td.active, .datepicker-dropdown table td.active:hover {
                        background-color: #007bff;
                        color: #fff;
                    }

        /* Background color */
        body {
            background-color: #fdf6e3
        }

        .navbar {
            background-color: #d4d1c9 !important;
        }
    </style>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="form-group col-md-10">
            <br />
            <h3>Upload Book File</h3>
            <br />
            <form asp-action="UploadFile" asp-controller="File" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Choose file:</label>
                    <input type="file" name="file" id="file" class="form-control-file" />
                    <br />
                    @if (!string.IsNullOrEmpty(Model.FilePath))
                    {
                        string[] fileNameParts = Model.FilePath.Split('_');
                        if (fileNameParts.Length > 1)
                        {
                            string displayedFileName = fileNameParts[fileNameParts.Length - 1];
                            <p><b>Uploaded file:</b> @displayedFileName</p>
                        }
                    }
                </div>
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="entityType" value="Book" />
                <button type="submit" class="btn btn-primary">Upload File</button>
            </form>
        </div>
        <br />

        <h2 class="text-center">Edit Book</h2>
        <br />
        <form method="post" enctype="multipart/form-data">
            <div class="form-group col-md-10">
                <div class="form-group mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="" />
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ISBN"></label>
                    <input asp-for="ISBN" id="isbnInput" class="form-control" placeholder="" title="Please enter a valid ISBN number" pattern="[0-9]{13}" oninput="formatISBN()" autocomplete="off" />
                    <span asp-validation-for="ISBN" class="small text-danger"></span>
                    <span id="isbn-validation-message" class="text-notification"><strong>NOTE:</strong> Please enter a valid ISBN number which is 13 digits long and in the format 111-11-111-1111-1.</span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="YearPublished"></label>
                    <input asp-for="YearPublished" class="form-control" id="yearPublished" placeholder="dd.mm.yyyy" autocomplete="off" value="@Model.YearPublished?.ToString(GlobalDateFormat)" />
                    <span asp-validation-for="YearPublished" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder=""></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Publisher"></label>
                    <input asp-for="Publisher" class="form-control" placeholder="" />
                    <span asp-validation-for="Publisher" class="small text-danger"></span>
                </div>
                <div class="form-group mb-5">
                    <label asp-for="ImageFilePath" class="form-label">Select Cover Image for Upload</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="bookImage" onchange="updateFileName(this)">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <br />
                    </div>
                    <span asp-validation-for="ImageFilePath" class="small text-danger"></span>
                    <div>
                        @if (!string.IsNullOrEmpty(Model.ImageFilePath))
                        {
                            string[] fileNameParts = Model.ImageFilePath.Split('_');
                            if (fileNameParts.Length > 1)
                            {
                                string displayedFileName = fileNameParts[fileNameParts.Length - 1];
                                <p><b>Uploaded file:</b> @displayedFileName</p>
                            }
                        }
                    </div>
                </div>
                <div class="mb-4">
                    <label asp-for="@Model.AuthorId" class="form-label-add-edit">Select Author</label>
                    <select asp-for="@Model.AuthorId" class="form-control" aria-required="true" data-val-required="Please select an author">
                        <option value="">-- Select author --</option>
                        @foreach (var author in Model.Authors)
                        {
                            <option value="@author.Id">@author.Name - @author.Nationality</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.AuthorId" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="@Model.CategoryId" class="form-label-add-edit">Select Category</label>
                    <select asp-for="@Model.CategoryId" class="form-control" aria-required="true" data-val-required="Please select a category">
                        <option value="">-- Select category --</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Edit Book</button>
                <div style="height: 80px;"></div>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts
{
    <script>
        @* Script for Datepicker *@
            $(document).ready(function () {
                var dateFormat = 'dd.mm.yyyy';

                $('#yearPublished').datepicker({
                    minViewMode: 2,
                    format: dateFormat,
                    autoclose: true,
                    todayHighlight: true
                });
            });

        @* Script for update file name when file is selected *@
            function updateFileName(input) {
                var fileName = input.files[0].name;
                var label = input.nextElementSibling;
                label.innerText = fileName;
            }


        @* Script for ISBN format *@
            function formatISBN() {
                var input = document.getElementById("isbnInput");
                var value = input.value.replace(/\D/g, ''); // Remove non-numeric characters
                var formattedValue = '';

                // Format the input with hyphens
                for (var i = 0; i < value.length; i++) {
                    if (i == 3 || i == 5 || i == 8 || i == 12) {
                        formattedValue += '-';
                    }
                    formattedValue += value[i];
                }

                input.value = formattedValue;
            }
    </script>

    <partial name="_ValidationScriptsPartial" />
}
