@using static LibraryManagementSystem.Common.GeneralApplicationConstants;

@model EditionFormModel

@{
    ViewData["Title"] = "Edit book edition";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* Styles and links for Datepicker *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        .datepicker-dropdown {
            border-radius: 0 !important;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

            .datepicker-dropdown table {
                width: 100%;
            }

                .datepicker-dropdown table thead tr:first-child th {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                }

                .datepicker-dropdown table td, .datepicker-dropdown table th {
                    text-align: center;
                }

                    .datepicker-dropdown table td.day:hover {
                        background-color: #f2f2f2;
                    }

                    .datepicker-dropdown table td.active, .datepicker-dropdown table td.active:hover {
                        background-color: #007bff;
                        color: #fff;
                    }

        /* Background color */
        body {
            background-color: #fdf6e3
        }

        /* Navbar positioning */
        .navbar {
            background-color: #d4d1c9 !important;
        }
    </style>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="form-group col-md-10">
            <br />
            <h3>Upload Edition File</h3>
            <br />
            <form asp-action="UploadFile" asp-controller="File" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Choose file:</label>
                    <input type="file" name="file" id="file" class="form-control-file" />
                    <br />
                    @if (!string.IsNullOrEmpty(Model.FilePath))
                    {
                        string[] fileNameParts = Model.FilePath.Split('_');
                        if (fileNameParts.Length > 1)
                        {
                            string displayedFileName = fileNameParts[fileNameParts.Length - 1];
                            <p><b>Uploaded file:</b> @displayedFileName</p>
                        }
                    }
                </div>
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="entityType" value="Edition" />
                <button type="submit" class="btn btn-primary">Upload File</button>
            </form>
        </div>
        <br />

        <h1 class="text-center">Edit Book Edition</h1>
        <br />

        <div class="form-group col-md-10">
            <form method="post">
                <div class="mb-4">
                    <label asp-for="@Model.BookId" class="form-label-add-edit">Select Book</label>
                    <select asp-for="@Model.BookId" class="form-control" aria-required="true" data-val-required="Please select a book">
                        <option value="">-- Select book --</option>
                        @foreach (var book in Model.BooksDropDown)
                        {
                            <option value="@book.Id">
                                <strong>Title:</strong> @book.Title |
                                <strong>Author:</strong> @book.AuthorName |
                                <strong>Publisher:</strong> @book.Publisher |
                                <strong>Year:</strong> @book.YearPublished
                            </option>
                        }
                    </select>
                    <span asp-validation-for="@Model.BookId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Version"></label>
                    <input asp-for="Version" class="form-control" placeholder="" />
                    <span asp-validation-for="Version" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Publisher"></label>
                    <input asp-for="Publisher" class="form-control" placeholder="" />
                    <span asp-validation-for="Publisher" class="small text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="EditionYear">Year of Edition</label>
                    <input asp-for="EditionYear" class="form-control" id="editionYear" placeholder="dd.mm.yyyy" autocomplete="off" />
                    <span asp-validation-for="EditionYear" class="small text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Edit Edition</button>
            <div style="height: 80px;"></div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts
{
    <script>
        @* Script for Datepicker *@
            $(document).ready(function () {
                var dateFormat = 'dd.mm.yyyy';

                $('#editionYear').datepicker({
                    minViewMode: 2,
                    format: dateFormat,
                    autoclose: true,
                    todayHighlight: true
                });
            });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
