@model IEnumerable<AllCategoriesViewModel>

@{
    ViewData["Title"] = "All Categories";
}

<h1>All Categories</h1>

@if (!Model.Any())
{
    <p>No categories found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Books in category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
            }
            @foreach (var category in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@category.Name</td>
                    <td>@category.BooksCount</td>
                    <td>
                        <a href="@Url.Action("Edit", "Category", new { id = category.Id })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Delete", "Category", new { id = category.Id })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
}
