 @using static LibraryManagementSystem.Common.UserRoleNames;

@model IEnumerable<AllCategoriesViewModel>

@{
    ViewData["Title"] = "All Categories";
}

<div class="mb-4">
    <h2 class="text-center">@ViewBag.Title</h2>
</div>

@if (!Model.Any())
{
    <p>No categories found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle;">№</th>
                <th style="text-align: center; vertical-align: middle;">Name</th>
                <th style="text-align: center; vertical-align: middle;">Books in category</th>
                @if (this.User.IsInRole(AdminRole))
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
            }
            @foreach (var category in Model)
            {
                <tr>
                    <td style="text-align: center; vertical-align: middle;">@counter</td>
                    <td style="text-align: center; vertical-align: middle;">@category.Name</td>
                    <td style="text-align: center; vertical-align: middle;">@category.BooksCount</td>
                    <td>
                        @if (this.User.IsInRole(AdminRole))
                        {
                            <a href="@Url.Action("Edit", "Category", new { id = category.Id })" class="btn btn-warning">Edit</a>
                            <a href="@Url.Action("Delete", "Category", new { id = category.Id })" class="btn btn-danger">Delete</a>
                        }
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
}
